<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<head th:replace="mall/header::head-fragment('shopping','index')">
<body>
<header th:replace="mall/header::header-fragment"></header>
<div class="product-area pb-60">
    <div class="container">
        <div class="section-title text-center">
            <h2>Bestsellers!</h2>
            <br/><br/><br/>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="product-2">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" th:each="hotGoodse:${hotGoodses}">
                        <div class="product-wrap mb-25 scroll-zoom">
                            <div class="product-img">
                                <a th:href="@{'/goods/detail/'+${hotGoodse.goodsId}}">
                                    <img class="default-img" th:src="@{${hotGoodse.goodsCoverImg}}"
                                         th:alt="${hotGoodse.goodsName}">
                                </a>
                                <span class="pink">Popular</span>
                                <div class="product-action">
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" th:href="@{'/goods/detail/'+${hotGoodse.goodsId}}"
                                           data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                    </div>
                                    <div class="pro-same-action pro-cart">
                                        <a title="Add To Cart" href="/login"  th:if="${session.newBeeMallUser==null}" ><i class="pe-7s-cart"></i> Add to cart</a>
                                        <a title="Add To Cart"   th:if="${session.newBeeMallUser!=null}" th:onclick="'saveToCart('+${hotGoodse.goodsId}+')'" ><i class="pe-7s-cart"></i> Add to cart</a>
                                    </div>
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" th:href="@{'/goods/detail/'+${hotGoodse.goodsId}}"
                                           data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h3><a href="product-details.html" th:text="${hotGoodse.goodsName}">T- Shirt And
                                    Jeans</a></h3>
                                <div class="product-price">
                                    $<span th:text="${hotGoodse.sellingPrice}">60.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-title text-center">
            <h2>new product!</h2>
            <br/><br/><br/>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="product-2">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" th:each="newGoods : ${newGoodses}">
                        <div class="product-wrap mb-25 scroll-zoom">
                            <div class="product-img">
                                <a th:href="@{'/goods/detail/'+${newGoods.goodsId}}">
                                    <img class="default-img" th:src="@{${newGoods.goodsCoverImg}}"
                                         th:alt="${newGoods.goodsName}">
                                </a>
                                <span class="pink" th:text="${newGoods.tag}">-10%</span>
                                <div class="product-action">
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" th:href="@{'/goods/detail/'+${newGoods.goodsId}}"
                                           data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                    </div>
                                    <div class="pro-same-action pro-cart">
                                        <a title="Add To Cart" href="/login"  th:if="${session.newBeeMallUser==null}" ><i class="pe-7s-cart"></i> Add to cart</a>
                                        <a title="Add To Cart"   th:if="${session.newBeeMallUser!=null}" th:onclick="'saveToCart('+${newGoods.goodsId}+')'" ><i class="pe-7s-cart"></i> Add to cart</a>
                                    </div>
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" th:href="@{'/goods/detail/'+${newGoods.goodsId}}"
                                           data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h3><a href="product-details.html" th:text="${newGoods.goodsName}">T- Shirt And
                                    Jeans</a></h3>
                                <div class="product-price">
                                    $<span th:text="${newGoods.sellingPrice}">60.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-title text-center">
            <h2>recommended for you!</h2>
            <br/><br/><br/>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active" id="product-2">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6" th:each="recommendGoods : ${recommendGoodses}">
                        <div class="product-wrap mb-25 scroll-zoom">
                            <div class="product-img">
                                <a th:href="@{'/goods/detail/'+${recommendGoods.goodsId}}">
                                    <img class="default-img" th:src="@{${recommendGoods.goodsCoverImg}}"
                                         th:alt="${recommendGoods.goodsName}">
                                </a>
                                <span class="pink" th:text="${recommendGoods.tag}">-10%</span>
                                <div class="product-action">
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" th:href="@{'/goods/detail/'+${recommendGoods.goodsId}}"
                                           data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                    </div>
                                    <div class="pro-same-action pro-cart">
                                        <a title="Add To Cart" href="/login"  th:if="${session.newBeeMallUser==null}" ><i class="pe-7s-cart"></i> Add to cart</a>
                                        <a title="Add To Cart"   th:if="${session.newBeeMallUser!=null}" th:onclick="'saveToCart('+${recommendGoods.goodsId}+')'" ><i class="pe-7s-cart"></i> Add to cart</a>
                                    </div>
                                    <div class="pro-same-action pro-quickview">
                                        <a title="Quick View" th:href="@{'/goods/detail/'+${recommendGoods.goodsId}}"
                                           data-target="#exampleModal"><i class="pe-7s-look"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content text-center">
                                <h3><a href="product-details.html" th:text="${recommendGoods.goodsName}">T- Shirt And
                                    Jeans</a></h3>
                                <div class="product-price">
                                    $<span th:text="${recommendGoods.sellingPrice}">60.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="suppoer-area pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="support-wrap mb-30 support-1">
                        <div class="support-icon">
                            <img class="animated" src="assets/img/icon-img/support-1.png" alt="">
                        </div>
                        <div class="support-content">
                            <h5>Free Shipping</h5>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="support-wrap mb-30 support-2">
                        <div class="support-icon">
                            <img class="animated" src="assets/img/icon-img/support-2.png" alt="">
                        </div>
                        <div class="support-content">
                            <h5>Support 24/7</h5>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="support-wrap mb-30 support-3">
                        <div class="support-icon">
                            <img class="animated" src="assets/img/icon-img/support-3.png" alt="">
                        </div>
                        <div class="support-content">
                            <h5>Money Return</h5>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="support-wrap mb-30 support-4">
                        <div class="support-icon">
                            <img class="animated" src="assets/img/icon-img/support-4.png" alt="">
                        </div>
                        <div class="support-content">
                            <h5>Order Discount</h5>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- All JS is here
============================================ -->

<!-- jQuery JS -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="/assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<script th:src="@{/admin/plugins/sweetalert2/sweetalert2.all.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
</body>

<script type="text/javascript">
    /**
     * 添加到购物车
     */
    function saveToCart(id) {
        var goodsCount = 1;
        const regex = /^[0-9]*$/;
        if(!regex.test(goodsCount) || goodsCount == ''){
            alert("goods number error")
            return;
        }
        var data = {
            "goodsId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    Swal.fire({
                        title: "Success",
                        text: "Add Cart Success",
                        icon: "success",iconColor:"#1d953f",
                        showCancelButton: true,
                        confirmButtonText: 'OK',
                        cancelButtonText: 'Cancel'
                    }).then((flag) => {
                          window.location.reload();
                        }
                    );
                } else {
                    Swal.fire({
                        text: result.message,
                        icon: "error",iconColor:"#f05b72",
                    });
                }
            },
            error: function () {
                Swal.fire({
                    text: "操作失败",
                    icon: "error",iconColor:"#f05b72",
                });
            }
        });
    }
</script>
</html>